.App {
  text-align: center;
  position: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(233, 233, 217);
  max-height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: "Silkscreen", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: calc(10px + 2vmin);
  color: rgb(22, 22, 22);
  filter: drop-shadow(0 0 0.5rem rgb(22, 22, 22));
}

#Menu-button{
  max-height: 8vh;
  max-width: 8vw;
}

.Menu-item{
  border-style: solid none none none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-width: 1px;
  padding: 10px 0 10px 0;
}

#YTurl{
  height: 35px;
  font-size: large;
}

#YTsub{
  height:40px;
  width: 120px;
  display: flex;
  margin: auto;
  font-family: "Silkscreen", sans-serif;
  font-size: medium;
}

#Info-button{
  max-height: 6vh;
  max-width:6vw;
}

.Close-button{
  height: 5vh;
  width:5vw;
}

.App-content {
  background-color: rgb(240, 240, 223);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(22, 22, 22);
}

.Score-window{
  display: flex;
  max-width: 50vw;
  max-height: 10vw;
  color: rgb(22, 22, 22);
}

.Note-line{
  height: 15px;
  width: 80vw;
  position: relative;
  background-color: rgb(210, 46, 46);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  filter: drop-shadow(0 0 0.1rem rgb(22, 22, 22));
}

.Judgement-zone{
  position: fixed;
  display: flex;
  height: 15px;
  width: 20vw;
  background-color: rgb(205, 217, 35);
  border-style: none none none solid;
  border-color: rgb(22, 22, 22);
}

.Missed-box{
  position: fixed;
  display: flex;
  height: 40px;
  width: 40px;
  background-color: rgb(109, 109, 109);
  border-style: none none none solid;
  border-color: rgb(22, 22, 22);
  border-radius: 10px 0 0 10px;
}

.Menus-container{
  position: fixed;
  top:0;
  display: flex;
  width: 100vw;
  font-family: "Silkscreen", sans-serif;
  pointer-events: none
}

#Menu-window{
  display: none;
  justify-content: flex-start;
  pointer-events: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  font-size: calc(2px + 2vmin);
  color: rgb(22, 22, 22);
  width: 20vw;
  background-color: aliceblue;
  height: 100vh;
  filter: drop-shadow(0 0 0.5rem rgb(22, 22, 22));
  border-radius: 0 5em 5em 0;
  padding: 2em 1em 0 1em;
}

#Instruction-window{
  display: none;
  justify-content: flex-end;
  pointer-events: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  font-size: calc(2px + 2vmin);
  color: rgb(22, 22, 22);
  width: 20vw;
  background-color: aliceblue;
  height: 100vh;
  filter: drop-shadow(0 0 0.5rem rgb(22, 22, 22));
  border-radius: 5em 0 0 5em;
  padding: 2em 1em 0 1em;
}

@keyframes slideInLeft {0%{transform: translate(-20vw);} 100%{transform: translate(0);}}
@keyframes slideOutLeft {0%{transform: translate(0);} 100%{transform: translate(-20vw);}}

@keyframes slideInRight {0%{transform: translate(20vw);} 100%{transform: translate(0);}}
@keyframes slideOutRight {0%{transform: translate(0);} 100%{transform: translate(20vw);}}
