.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(233, 233, 217);
  max-height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: rgb(22, 22, 22);
  filter: drop-shadow(0 0 0.5rem rgb(22, 22, 22));
}

.App-content {
  background-color: rgb(240, 240, 223);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Score-window{
  display: flex;
  max-width: 50vw;
  max-height: 10vw;
  color: rgb(22, 22, 22);
}

.Note-line{
  height: 15px;
  width: 80vw;
  background-color: rgb(210, 46, 46);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  filter: drop-shadow(0 0 0.1rem rgb(22, 22, 22));
}

.Judgement-zone{
  position: fixed;
  display: flex;
  height: 15px;
  width: 20vw;
  background-color: rgb(205, 217, 35);
  border-style: none none none solid;
  border-color: rgb(22, 22, 22);
}

.Missed-box{
  position: fixed;
  display: flex;
  height: 40px;
  width: 40px;
  background-color: rgb(109, 109, 109);
  border-style: none none none solid;
  border-color: rgb(22, 22, 22);
  border-radius: 10px 0 0 10px;
}

.Menus-container{
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

#Menu-window{
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  font-size: calc(2px + 2vmin);
  color: rgb(22, 22, 22);
  width: 30vw;
  min-height: 90vh;
  left:0vw;
  background-color: aliceblue;
}

#Instruction-window{
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  font-size: calc(2px + 2vmin);
  color: rgb(22, 22, 22);
  width: 50vw;
  min-height: 90vh;
  right:100vw;
  background-color: aliceblue;
}
